{% extends 'base.html' %}
{% load static %}
{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-3 fw-normal text-center">Please SignIn</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="w-100 btn btn-lg btn-primary" type="submit">SignIn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
